[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim-vhdl"]
	path = home/.vim/bundle/vim-vhdl
	url = https://github.com/Cognoscan/vim-vhdl.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/Cognoscan/vim-markdown.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/table-mode"]
	path = home/.vim/bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "home/.vim/bundle/vim-openscad"]
	path = home/.vim/bundle/vim-openscad
	url = https://github.com/armyofevilrobots/vim-openscad.git
[submodule "home/.vim/bundle/vim-glsl"]
	path = home/.vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
