[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim-vhdl"]
	path = home/.vim/bundle/vim-vhdl
	url = https://github.com/Cognoscan/vim-vhdl.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/Cognoscan/vim-markdown.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/table-mode"]
	path = home/.vim/bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
