*customization: -color
xterm*termName: xterm-256color
xterm*faceName: Inconsolata
xterm*faceSize: 12
xterm*foreground: rgb:FF/FF/FF
xterm*background: rgb:00/00/00

uxterm*faceName: Inconsolata
uxterm*faceSize: 12
uxterm*foreground: rgb:FF/FF/FF
uxterm*background: rgb:00/00/00
